body {
  background-color: #f5f5f5;
}
.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrapper .app .app__body {
  width: 552px;
  background-color: white;
}
.app {

}
.wrapper .app .app__body .app__body-input .app__input-text {
  float: right;
  font-family: "Courier";
  font-size:20px;
  font-style: oblique;
  height: 65px;
  width: 500px;
  border: 0;
}
.wrapper .app .app__body .app__body-input {

  height: 70px;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.app__head-logo {
  font-family: "Courier";
  color: #ead8d8;
  font-size: 75px;
  display: flex;
  justify-content: center;
}

.app__footer {
  height: 40px;
  width: 550px;
  background-color: white;
  border: 1px solid #e6e6e6;
}
.app__footer-one {
  background-color: white;
  width: 98%;
  height: 4px;
  border: 1px solid #e6e6e6;
  border-top: 0;
  margin-left: auto ;
  margin-right:auto ;
}
.app__footer-two {
  background-color: white;
  width: 96%;
  height: 4px;
  border: 1px solid #e6e6e6;
  border-top: 0;
  margin-left: auto ;
  margin-right:auto ;
}